<ion-view>
    <ion-content class="padding" overflow-scroll="false" style="background: #1c2627 url('../img/iphone-green.jpg') no-repeat center center;">
        <form>
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

                    <div class="header padding text-center">
                        <img src="../img/book-tosca.png" alt="Logo" />
                    </div>

                    <div class="list">
                        <label class="item item-input tex">
                            <input type="text" placeholder="Username" ng-model="data.username">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="data.password">
                        </label>
                    </div>

                    <button class="button button-block button-positive" ng-click="doLogin(data)">
                        Login
                    </button>

                    <button class="button button-block button-stable" ng-click="asOrangTua()">
                        Halaman Orang Tua
                    </button>
                </div>
            </div>
        </form>

    </ion-content>
</ion-view>